In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [6]:
# Import order_products__prior.csv as dataframe

df_ords_prior = pd.read_csv(r'C:\Users\shyro\OneDrive\Documents\Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv',index_col = False)

In [9]:
# Import checked df_ords with file name orders_checked.csv as dataframe

df_ords_checked = pd.read_csv(r'C:\Users\shyro\OneDrive\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv',index_col = False)

In [10]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Check the dimension of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [11]:
# Check the ouput of df_ords_checked

df_ords_checked.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [14]:
vars_list = ['order_id','user_id','eval_set','order_number','order_dow','order_hour_of_day','days_since_prior_order']

In [15]:
vars_list

['order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [16]:
df_ords_checked = pd.read_csv(r'C:\Users\shyro\OneDrive\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv',usecols = vars_list)

In [17]:
# Check the ouput of df_ords_checked

df_ords_checked.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [18]:
# Check the dimension of df_ords_chedked
df_ords_checked.shape

(3421083, 7)

In [22]:
# Merge df_ords_checked and df_ords_prior using order_id as the key
df_merged_large = df_ords_checked.merge(df_ords_prior, on = 'order_id', indicator = True)

In [23]:
# Check the ouput of df_merged_large

df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [24]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [28]:
path = r'C:\Users\shyro\OneDrive\Documents\Instacart Basket Analysis'

In [29]:
path

'C:\\Users\\shyro\\OneDrive\\Documents\\Instacart Basket Analysis'

In [30]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_combined.pkl'))

In [32]:
df_merged_large.shape

(32434489, 11)